@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Comic Neue', cursive;
  color: whitesmoke;
  background: linear-gradient(to right, #3c3d3d, #00BFFF);
  box-sizing: border-box;
  background-color: #2e2d33;
  height: auto;
  width: 100%;
}
.menu{
  width:100%;
  height: 12vh;
  background-color: #3c3d3d;
  display: flex;
  justify-content: space-between;
}
.name, .profile{
  padding: 1rem;
  margin: 1rem;
  align-self: center;
  color: whitesmoke;
}
#profileIcon:hover{
  cursor: pointer;
}
.profile{
  display: flex;
  justify-content: flex-end;
}
img{
  width: 8%;
}
.AddTasks{
  display: flex;
  height: 60vh;
  align-items: center;
  justify-self: center;
  text-align: center;
  margin: 1rem;
  box-shadow: 0.4rem 0.4rem 1.5rem #4a4a4a;
  border-radius: 0.5rem;
}
.tasksInput{
  height: 20vh;
  width: 50%;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  border-radius: 2rem;
  background-color: #3c3d3d;
  justify-content: center;
  align-items: center;
  box-shadow: 0.1rem 0.1rem 1rem #4a4a4a;

}
::placeholder{
  color:aliceblue;
}
input{
  padding: 0.5rem;
  border-style: none;
  width: 90%;
  background-color: #3c3d3dcb;
  color: whitesmoke;
}
textarea:focus, input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}
.tasks-image{
  width: 30%;
  display: flex;
  justify-content: flex-end;


}
.newTask{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  color: whitesmoke;
}
.tasksInput{
  align-self: center;
}
.current-tasks{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#posts{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.card{
  display: flex;
  flex-direction: column;
  width: 60%;
  border-radius: 0.4rem;
  border-style: solid;
  border-color: black;
  border-width: 0.1rem;
  justify-content: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  box-shadow: 0.2rem 0.2rem 1rem #4a4a4a;
}
.card-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0.1rem 0.1rem 0.1rem black;
  border-radius: 0.2rem;

}
#binIcon, .card-title{
  padding: 0.3rem;
  margin: 0.3rem;
  align-self: center;
  color: whitesmoke;
}
#binIcon{
  width: 40px;
  height: 40px;
}
.card-body{
  padding: 1rem;
  overflow-wrap: break-word;
}
#profileInfo{
  background-color: #4a4a4a;
  color: whitesmoke;
  border-radius: 1rem;
  width: 20%;
  height: 60%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0.1rem 0.1rem 0.3rem black;
}
#profileImage{
  width: 7rem;
}
#info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: space-between;
}
#tasksIcon{
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
}
#totalTasks{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#backButton{
  width: 40%;
  height: 8%;
  background-color: #00bfffae;
  color: white;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.3rem black;
}
#backButton:hover{
  box-shadow: 0.1rem 0.1rem 0.1rem black;
  cursor: pointer;
}


/* <div id=${post._id} class="card mb-2">
                    <div class="card-header" draggable="true"h>
                        <h5 class="card-title">${post.title}</h5>
                        <img src="" onclick="deletePost('${post._id}')">
                        <button onclick="deletePost('${post._id}')" "type="button" class="btn-close" aria-label="Close"></button>
                    </div>
                    <div class="card-body">
                        <div class="card-text">${post.description}</div>
                    </div>
                </div> */

